@charset "utf-8";

/* reset */
* {margin:0; padding:0; word-break:keep-all; box-sizing:border-box; font-family:'NanumSquareNeo-Variable';}
ol,ul {list-style:none;}
a {text-decoration:none; color:#222;}
img {border:0;}
body {font:14px/2.2 'NanumSquareNeo-Variable'; color:#222; font-weight:400;}
strong {font-family:'NanumSquareNeo-Variable'; font-weight:800;}
/* header {margin:0 auto; width:100%; min-width:1160px; height:36px; position:sticky; top:0; left:0; z-index:100; background:#222;} */
fieldset {border:0;}
article, aside, hgroup, header, footer, figure, figcaption, nav, section {display:block;}
button {cursor: pointer;}
/* //reset */

/* 폰트 */
/* by miyeon */

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 300;
    font-style: normal;
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot');
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix') format('embedded-opentype'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2') format('woff2'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff') format('woff'),
         url('/images/font/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 400;
    font-style: normal;
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot');
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix') format('embedded-opentype'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff2') format('woff2'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff') format('woff'),
         url('/images/font/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
    font-style: normal;
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot');
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix') format('embedded-opentype'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2') format('woff2'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff') format('woff'),
         url('/images/font/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 800;
    font-style: normal;
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot');
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix') format('embedded-opentype'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff2') format('woff2'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff') format('woff'),
         url('/images/font/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 900;
    font-style: normal;
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot');
    src: url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix') format('embedded-opentype'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2') format('woff2'),
         url('/images/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff') format('woff'),
         url('/images/font/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 

/* //폰트 */

/* 레이아웃 */
footer {position:relative; clear:both; width:100%; min-width:1160px; margin-top: 57px;}
/* //레이아웃 */

/* Skip Navigation */
#quick_skip_menu {position:relative; z-index:2147483647;}
#quick_skip_menu a {position:absolute; top:-10000px; left:50%; width:200px; height:80px; margin-left:-100px; background:#00afa0; text-align:center;}
#quick_skip_menu a:active,#quick_skip_menu a:focus {top:0; text-decoration:none; cursor:pointer; zoom:1;}
#quick_skip_menu span {display:block; font-size:1em; line-height:40px; color:#fff;}
/* //Skip Navigation */

/* 기타 */
.clear {clear:both;}

.hanbit_edit_view {line-height:inherit !important;}
.hanbit_edit_view a {color:#00a79b;}
.hanbit_edit_view p a {color:#00a79b;}
.hanbit_edit_view a:hover {text-decoration:underline;}
.hanbit_edit_view p {/*font-size:initial;*/ line-height:170% !important;}
.hanbit_edit_view div {/*font-size:initial;*/ line-height:170% !important;}
.hanbit_edit_view blockquote {/*font-size:initial;*/ line-height:170% !important;}
.hanbit_edit_view ol {list-style:decimal !important; padding:20px !important; margin:0 20px !important;}
.hanbit_edit_view ol li {padding-bottom:10px !important; list-style:decimal !important; line-height:170% !important;}
.hanbit_edit_view ul {list-style:outside !important; margin:0 20px !important; border:0 !important;}
.hanbit_edit_view ul li {padding-bottom:10px !important; list-style:outside !important; line-height:170% !important;}

.foot_make_btn a {width:204px !important; padding:0 0 0 22px !important; background:#e60012 url(/images/common/foot_make_icon.png) no-repeat 22px center !important; background-size:16px 16px; font-size:13px !important;}
.foot_make_btn a:hover {background:#bc000f url(/images/common/foot_make_icon.png) no-repeat 22px center !important;}
/* //기타 */

/* 공통 버튼 */
.btn_sample_buy {clear:both; width:100%; height:60px; padding:0; margin:10px 0 0 0; background:#00cc99; border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; font-family:'NanumGothicBold'; font-size:18px; color:#fff; cursor:pointer; transition:all .2s;}

.btn_ver {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:27px;
  line-height:27px;
  width:94px;
  text-decoration:none;
  text-align:center;
  letter-spacing:-1px;
  text-shadow:1px 1px 0px #ffffff;
}.btn_ver:hover {
  background-color:#dfdfdf;
}.btn_ver:active {
  position:relative;
  top:1px;
}

.link_ver {
  font-weight:bold;
  color:#0aab9f;
}.link_ver:hover {
  text-decoration:underline;
}
/* This button was generated using CSSButtonGenerator.com */

/* 인터넷 서점 구매 리스트 */
.obuy_place_tit {
    font-size:16px;
    margin-top:10px;
    border-bottom: 1px solid #ddd;
    padding: 2px 0 0;
}  
.obuy_list {
    overflow: visible;
    width: 238px;
    margin: 0;
    padding: 4px 0 0;
}
   
.obuy_list li .obuy_wrap {
    float: left;
}     

.obuy_list li:after {
    display: block;
    clear: both;
    content: '';
}
.obuy .obuy_wrap {
    display: inline-block;
    position: relative;
    height: 24px;
    font-size: 13px;
    letter-spacing: -1px;
}

.obuy .obuy_wrap a:hover {
    color: #01afa0;
    text-decoration: underline;
}
.obuy_list li span, .obuy_list li span img {
    vertical-align: top;
}
.obuy_list li .ebook {
    overflow: hidden;
    float: left;
    width: 24px;
    height: 13px;
    margin-top: 2px;
    margin-right: 3px;
    padding: 0;
    background: url(/images/common/sp_detail.png) no-repeat 0 -287px;
    line-height: 999px;
}

.obuy_list li {
    margin: 3px 0 0;
    line-height: 18px;
    vertical-align: top;
    zoom: 1;
}

.obuy_list li span {
  float:right;
    
}
