<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
  {% include nav.html %}
  <hr class="stylish"/>
  {{ content }}
</div>
<footer>
  <hr class="stylish"/>
  {% include nav.html %}
  <div>
    Theme: <a href="https://github.com/abhn/Elementary">Elementary</a>
    <br/>
    <a>{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}
  </div>
</footer>
{% if site.javascript_enabled %}
  <script src="/assets/main.js"></script>

  <!-- ✅ Mermaid.js 추가 -->
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  {% endif %}
</body>
</html>
